header {
  background-color: #000000;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  ul {
    display: flex;
    gap: 30px;
    li{
      a,button{
        color: rgb(2, 161, 161);
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        &.active{
          color: white;
          border-bottom: 1px solid white;
          padding-bottom: 3px;
        }
      }
    }
  }
}
